h1 {
    width:500px;
    margin: 1.5vh auto;
    background: #616886;
    text-align: center;
    border-radius: 6px;
    transition-duration: 0.5s;
    height: 20%;
    box-shadow: -10px 50px 50px 50px rgba(0,0,0,0.19);
    text-decoration: none;
}

h4 {
    background: #1d1f2900;
    transition: .6;
}
h4:hover {
    background: #34384bde;
}

body {
    background-color: #1D1F29;   
}

.wrapper {
    display: flex;
}

.main {
    display: grid;
    margin-top: 5vh;
    grid-template-columns: 100%;
    grid-template-rows: 40% 1fr;
    flex-grow: 1;
    background-color: #2d283b;
    border-radius: 20px;
    transition: 0.2s;
}
.main:hover {
    box-shadow: -10px 50px 50px 50px rgba(0,0,0,0.19);
}

.side {
    height: 80vh;
    width: 20%;
}