h1 {
    width:500px;
    margin: 1.5vh auto;
    background: #616886;
    text-align: center;
    border-radius: 6px;
    transition-duration: 0.5s;
    height: 20%;
    box-shadow: -10px 50px 50px 50px rgba(0,0,0,0.19);
}

body {
    background-color: #1D1F29;
    
}

button{
    position: absolute;
    left: 7.5%;
    background-color: #0b5d1e;
    border: none;
    border-radius: 12px;
    color: #f6f4d2;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;



}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 40px;
}



input[type=text] {
    position: relative;
    padding: 1fr 1fr;
    border: 20px;
    width: 80%;
    height: 60%;
    margin-top: 5vh;
    transition: 0.4s;
    background-color: #808080;
    left: 10%;
    right: 10%;
    text-align: start;
    color: #f6f4d2;
}

input[type=text]:focus {
    background-color: #331e1d;
    opacity: 40%;
    border-radius: 0px;
    width: 99%;
    height: 80%;
    left: .5%;
    right: .5%;
}


.wrapper {
    display: flex;
}

.main {
    display: grid;
    margin-top: 5vh;
    grid-template-columns: 100%;
    grid-template-rows: 40% 1fr;
    flex-grow: 1;
    background-color: #2d283b;
    border-radius: 20px;
    transition: 0.2s;
}
.main:hover {
    box-shadow: -10px 50px 50px 50px rgba(0,0,0,0.19);
}


.side {
    height: 80vh;
    width: 20%;
}
