<!doctype html>

<head>
    <title>Omskriv text</title> 
    <meta charset=utf-8> 
    <link rel="stylesheet" href="\static\rewrite\home.css">
</head>  
<body>
    <div class="wrapper">
        <div class = "sidebar">
            <button type="submit" id="submBtn" onclick="history()">Historik</button>
        </div>
        <div>
            <h1>Skriv in texten som ska omskrivas</h1>
        </div>        
        <div>

        </div>

        <div>
            <form method="post" >
                <input type="text" name="query">
            </form>	
        </div>

    <script>
        function history() {
            window.location.href = "/rewrite/hist/"
        }
    </script>
    </div>

        
    </body>

