<!doctype html>
{% load static %}
<head>
    <title>Omskriv text</title> 
    <meta charset=utf-8> 
    <link rel="stylesheet" href="{% static 'rewrite\css\home.css'%}">
</head>  
<body>
    <div class="wrapper">
        <div class="side" onclick="history()"></div>
        <div class="main">
            <h1>Skriv in texten som ska omskrivas</h1>
            <form method="post" >
                <input type="text" name="query">
            </form>	
        </div>
        <div class="side" onclick="settings()"></div>


    </div>
</body>
<script>
        function history() {
            window.location.href = "/rewrite/hist/"
        }
        function settings() {
            window.location.href = "/rewrite/settings"
        }
</script>

