<!doctype html>

<head>
    <title>Inställningar</title> 
    <meta charset=utf-8> 
    <link rel="stylesheet" href="\static\rewrite\css\settings.css">
</head>  
<body>
    <div class="wrapper">
        <div class="side" onclick="home()"></div>
        <div class="main">
            <form>
                <h4>Temperature</h4>
                <input type="range" min="0" max="1" step="0.01" value= '{{ temperature }}' class="slider" id="temperature" name="t">
                <h5 id="tDisp" class="otpD">t:</h5>

                <h4>Max Tokens</h4>
                <input type="range" min="1" max="4000" step="1" value= '{{ max_tokens }}' class="slider" id="max_tokens" name="mt">
                <h5 id="mtDisp" class="otpD">m:</h5>

                <h4>Frequency Penalty</h4>
                <input type="range" min="0" max="2" step="0.01" value= '{{ frequency_penalty }}' class="slider" id="frequency_penalty" name="fp">
                <h5 id="fpDisp" class="otpD">f:</h5>

                <h4>Presence Penalty</h4>
                <input type="range" min="0" max="2" step="0.01" value= '{{ presence_penalty }}' class="slider" id="presence_penalty" name="pp">
                <h5 id="ppDisp" class="otpD">p:</h5>

                
                <button type="submit" class="submitButton"> Spara </button>
                </form>
        </div>
        <div class="side" onclick="home()"></div>


    </div>

{% load static %}
<script type="text/javascript" src="{% static 'rewrite\js\settings.js'%}"></script>
